한국근현대잡지자료_데이터재구조_국사편찬위원회_20240327/history.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--	============================================================	-->
<!--		한국사데이터베이스 DTD			Last Updated 2020.07.30 ver 1.4		-->
<!--	============================================================	-->
<!--	History:
		1) 한국사데이터베이스 통합 DTD				  
		2) 기존 book.dtd, doc.dtd, annals.dtd를 통합함
		3) 같은 엘리먼트 명 뒤에 붙은 번호는 엘리먼트간의 계층을 나타냄.
				예) level1은 level2의 상위 엘리먼트임
	
	2014.12
        level의 type 속성 cdata #implied로 변경
		
	2015.07
		@승정원일기 remark type="개수전거"는 reference-pTitle로 변환. type="개수전거"
		@<postScript> 
						type attribute add | cdata | 史論
		@<proofreading> 요소추가
						type attribute add | cdata | 광해군일기_정오, 광해군일기중초본_부기, 광해군일기중초본_부기2, 광해군일기중초본_산삭, 광해군일기중초본_산삭내수정, , 광해군일기중정초본_차이, 광해군일기중초본_주묵,
		@%title 항목 추가 
						태백산사고본 | 정족산사고본 | 오대산사고본 | 국편영인본| 탈초본(승정원일기)
		@<index />
						sort attribute add | <person type=""> <place type=""> <position type=""/> <term type=""/> 대응.
						sort2 attribute add | <person a=""> 대응. (원문)
						num attibute add | <person n=""> <book n=""> <era n="">  <place n=""> <term n=""/> 대응.
						name attribute add | <person realname=""> <book realname=""> <era realname="">  <place realname=""> <position ran=""/> <term ran=""/> 대응
						govertype attribute add
						govername attribute add
						s attribute add | <person s=""> 대응.
						ch attribute add | <person ch=""> 대응.
						id attribute add | <person pid=""> <term(원문) n=""/> 대응.
		@<image />	
						xsize attribute add | cdata | 0.21 
						ysize attribute add | cdata | 123

	2015.07
		@%role 한국사콘텐츠팀 요청으로 촬영자, 화가 추가
		@<alternative /> 한국사콘텐츠팀의 요청으로 type 속성 CDATA로 변경
		@<link /> 속성 추가 한국사콘텐츠팀 요청에 따라 uri 속성에 coi 추가.
		@<manuscriptname /> 속성 #fixed "탈초"를  #IMPLIED로 변경.
	
	2015.07.20
		@% title 항목 추가
				원본 | 원전
		@% note 항목 추가 (세종실록 악보에만 출현 term을 annotation으로 변환하면서 type을 악보로 변환)
				악보

	2015.08.10
		front.<description /> 요소 추가 : weather

	2015.08
		@%title 항목 추가 : 개수전거 (승정원일기)
		@편의상 승정원일기 reamrk의 type 속성 "근무현황"은 pace 태그를 사용하기로 함.
		 승정원일기 remark의  type 속성 "부연설명"은 explanation 태그를 사용하기로 하고 explanation이 paragraph 하위에 사용될 수 있게 함
		@%role 승정원일기 변환을 위해 개수자, 찬자 추가

	2015.11
		%p.zz.conf 항목 추가: postScript

	2015.11
		<missing />안에 index 와 annotation 추가 , 승정원일기 변환
	
	2015.11.02
		<refernce /> 하위 요소에 caption 추가. pTitle이나 pDate에 들어가는 정보 외에는 paragraph로 처리	

	2015.11.06
		<link /> uri 값에 아예 실록, 승정원일기, 전자사료관 추가. sillok, sjw,akh 

	2018.12.06
		<text /> 선언서격문 자료의 현대역, 원문, 일역문의 표현을 위하여 content?를 content*로 수정

	2020.07.30
		<index /> 에 namealias 속성 추가 (영문실록에서 영문명)
-->
<!--	************************************************************	-->
<!--	==========  Start Entity Declaration  ======================	-->
<!--	************************************************************	-->
<!--
	2015.07
		항목 추가 : 태백산사고본 | 정족산사고본 | 오대산사고본 | 국편영인본 | 탈초본(승정원일기)

	2015.07.20
		항목 추가 : 원본 | 원전	

	2015.08
		항목 추가 : 개수전거 (승정원일기)
-->
<!ENTITY % title "기사명 |문서명 |문서철명 | 하위문서철명 | 참조문서명 | 주제목 | 소제목 | 태백산사고본 | 정족산사고본 | 오대산사고본 | 국편영인본 | 원본 | 원전| 탈초본 | 개수전거">
<!ENTITY % date "dateSend | dateReceived | dateOccured | dateCreated | dateContract">
<!ENTITY % pDate "발송일 | 접수일 | 발생일 | 작성일 | 계약일 | 처리일 | 수신일 | 게재일">
<!ENTITY % creator "author |editor | sender | receiver | reporter | binder | translator | contributor">
<!--	
	2015.07
		한국사콘텐츠팀 요청으로 촬영자, 화가 추가

	2015.08
		승정원일기 변환을 위해 개수자, 찬자 추가
-->
<!ENTITY % role "저자 | 필자 | 생산기관 | 편집자 | 편찬자 | 발송자 | 발수신 |  발신자 | 수신자 | 작성자 | 결재자 | 계약자 | 신문자 | 등본인 | 입회인 | 통역 | 서기 | 피의자 | 피고인 | 증인 | 참고인 | 발언자 | 공술자 | 진술인 | 번역자 | 광고주 |촬영자 | 화가 | 개수자 | 찬자">
<!ENTITY % p.index "이름 | 지명 | 관직 | 서명 | 관서 | 단체 | 사건 | 국명 | 연호 | 학교 | 회사조합 | 기타">
<!--	
	2015.07
		항목 추가 : proofreading
-->
<!ENTITY % p.note "annotation | qna| point | missing | seal | quotation | proofreading">
<!--
	2015.07
		항목 추가 : 악보

	2015.11
		항목 추가 : 탈자
-->
<!ENTITY % note "교감주 |편자주 | 두주 | 원주 | 탈초자주 | 난외주 | 간주 |  각주 | 소자쌍행 | 번역주 | 원저자주 | 도말 | 낙점 | 연문 | DB주석 | 악보 | 개수전거|탈자">
<!ENTITY % list " ul | ol">
<!--
		2015.11,
			추가 : postScript
-->
<!ENTITY % p.zz.ph " index |newChar | number | emph | sup | sub | br | %p.note; | postScript">
<!--	
	2015.08 
			편의상 승정원일기 reamrk의 type 속성 "근무현황"은 place 태그를 사용하기로 함.
			승정원일기 remark의  type 속성 "부연설명"은 explanation 태그를 사용하기로 하고 explanation이 paragraph 하위에 사용될 수 있게 함
-->
<!ENTITY % p.zz.cont "pTitle | name | pDate | index | newChar | reference | tableGroup | table | illustration | image | number | place | attach | emph | sup | sub | br |%list; | %p.note; | explanation | link | postScript">
<!ENTITY % h.align "(left|center|right) 'center' ">
<!ENTITY % v.align "(top|middle|bottom) 'middle' ">
<!ENTITY % li.type "(solid | dot | dash | omit)">
<!--	==========  End Entity Declaration  ========================	-->
<!--	==========  Start Element Declaration  =====================	-->
<!--	************************************************************	-->
<!--					item : 자료										-->
<!--	************************************************************	-->
<!ELEMENT item (front?, level1+)>
<!--	front : 개요 등, body: 본문	-->
<!ATTLIST item
	id CDATA #REQUIRED
	name CDATA #IMPLIED
	org CDATA #FIXED "국사편찬위원회"
>
<!--
	// itemID삭제 
	// itemName삭제, name으로 대용
 -->
<!--	============================================================	-->
<!--					front : 서지, 기술사항, 원문이미지						-->
<!--	============================================================	-->
<!ELEMENT front (biblioData?, description?, illustGroup?, service?)>
<!--	************************************************************	-->
<!--	 biblioData : 서명, 작성자, 날짜, 발행, 소장정보, 출전, 주제명, 물리적기술사항		-->
<!--	 description : 서문, 범례, 해설, 초록, 해제, 간행후기, 대상시기				-->
<!--	 illustGroup: 원문이미지											-->
<!--	************************************************************	-->
<!ELEMENT biblioData (title, docNo*, creator?, date?, publication?, binderPeriod?, holdings?, source*, subjectClass*, physicalDescription?, fileDesc?)>
<!ATTLIST biblioData
	type CDATA #IMPLIED
>
<!ELEMENT fileDesc (#PCDATA)>
<!--
	// id : 삭제
	// type : 탈초, 원문, 번역문, ...
-->
<!--
	1. type : 원문, 번역문, 주석문.
	2. type : 잡지의 목차제공잡지, 원문제공잡지.
-->
<!ELEMENT description (introduction*, remarks*, commentary*, abstract?, biblioExplanation?, afterNote?, tableOfContent?, coveragePeriod?, newsInfo?, weather?)>
<!--
	2015.08
		요소 추가 : weather(승정원 일기)
-->
<!ELEMENT illustGroup (illustration)*>
<!ELEMENT service (accessCondition, metaOperator*, dateInsert?, dateModified?)>
<!--	서비스 : 웹서비스 여부, 메타데이터 작성자, 데이터입력일, 데이터수정일	-->
<!ELEMENT level1 (front?, text?, level2*)>
<!ATTLIST level1
	id CDATA #REQUIRED
	type CDATA #IMPLIED
	value CDATA #IMPLIED
	왕명 CDATA #IMPLIED
>
<!-- 
	level1 : 물리적인 권을 기본으로 함
	@type = 문서류 : 문서철
			연표, 신문 : 년
			목록 : 소장처(om)
	tcko : 왕명 
-->
<!ELEMENT level2 (front?, text?, level3*)>
<!ATTLIST level2
	id CDATA #REQUIRED
	type CDATA #IMPLIED
	value CDATA #IMPLIED
	간지 CDATA #IMPLIED
	왕명 CDATA #IMPLIED
	재위년도 CDATA #IMPLIED
	중국년도 CDATA #IMPLIED
	일본년도 CDATA #IMPLIED
>
<!--
	type (문서철 | 하위문서철 | 문서 | 년 | 월 | 대표지명 | 지도명 ) #IMPLIED
-->
<!-- 
	level2
	@type = 문서류 : 문서철, 하위문서철, 문서 
			편년류 : 년 , 월
			연표,신문 : 월
			지도 : 대표지명, 지도명
	bb : 간지, 왕명, 재위년도
	gj : 간지, 왕명, 일본년도, 재위년도, 중국년도
-->
<!ELEMENT level3 (front?, text?, level4*)>
<!ATTLIST level3
	id CDATA #REQUIRED
	value CDATA #IMPLIED
	type CDATA #IMPLIED
	간지 CDATA #IMPLIED
	왕명 CDATA #IMPLIED
	재위년도 CDATA #IMPLIED
>
<!--
	type ( 하위문서철 | 문서 | 년 | 월 | 일 | 지도명 ) #IMPLIED
-->
<!-- 
	level3
	@type = 문서류 : 하위문서철, 문서 
			편년류 : 년 , 월
			연표,신문 : 일 
			지도 : 지도명
	ks : 간지, 왕명, 재위년도
-->
<!ELEMENT level4 (front?, text?, level5*)>
<!ATTLIST level4
	id CDATA #REQUIRED
	value CDATA #IMPLIED
	type CDATA #IMPLIED
	왕명 CDATA #IMPLIED
	재위년도 CDATA #IMPLIED
>
<!--
	type ( 문서 | 월 | 일 | 좌목  ) #IMPLIED
-->
<!-- 
	level4
	@type = 문서류 : 문서 
			편년류 : 월(각사등록), 일, 좌목
-->
<!-- 
	20220905. 고려사, 고려사절요 속성 추가
		왕명 CDATA #IMPLIED
		재위년도 CDATA #IMPLIED
-->
<!ELEMENT level5 (front?, text?, level6*)>
<!ATTLIST level5
	id CDATA #REQUIRED
	type CDATA #IMPLIED
	value CDATA #IMPLIED
	왕명 CDATA #IMPLIED
	재위년도 CDATA #IMPLIED
>
<!--
	type ( 일 ) #IMPLIED
-->
<!-- 
	level5
	@type = 편년류 : 일(각사등록)
-->
<!-- 
	20220905. 고려사, 고려사절요 속성 추가
		왕명 CDATA #IMPLIED
		재위년도 CDATA #IMPLIED
-->
<!ELEMENT level6 (front?, text)>
<!ATTLIST level6
	id CDATA #REQUIRED
>
<!--	************************************************************	-->
<!-- 			text : 원본내용	                           				-->
<!--	************************************************************	-->
<!ELEMENT text (link*, content*, attach*, annex*)*>
<!--
	2018.12.06
		선언서격문 자료의 현대역, 원문, 일역문의 표현을 위하여 content?를 content*로 수정
		text 내 content 중복 사용은 특이 경우만 사용. 될수 있으면 사용하지 말 것
-->
<!ELEMENT content (postScript | paragraph | quotation | annotation | manuscript)*>
<!ATTLIST content
	type CDATA #IMPLIED
>
<!--
	// id 삭제
	// type 없는지 테스트
-->
<!--
	content 는 paragraph으로 구성되어야 함
	변환이 어렵다면 기존처럼  <!ELEMENT content (#PCDATA | %p.zz.ph; | paragraph+)> 방식으로 가야하는데 지저분함
-->
<!ELEMENT paragraph (#PCDATA | %p.zz.cont;)*>
<!ATTLIST paragraph
	indent CDATA #IMPLIED
	align %h.align; 
>
<!ELEMENT manuscript (#PCDATA | paragraph)*>
<!ATTLIST manuscript
	id CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!--
	2015.07
		name 속성 #fixed "탈초"를  #IMPLIED로 변경.
		본문 내 별도 문서가 삽입되는 경우, 즉 content 내 별도 문서 삽입의 경우 manuscript 요소를 사용하기로 함.
		한국사콘텐츠 팀의 문서 내 관련 사료 삽입 처리 요청에 따름.
-->
<!--	************************************************************	-->
<!-- 	 		postScript :  추신										-->
<!--	************************************************************	-->
<!ELEMENT postScript (caption?, paragraph*)>
<!ATTLIST postScript
	type CDATA #IMPLIED
>
<!--	************************************************************	-->
<!--			link : 연결 정보											-->
<!--	************************************************************	-->
<!ELEMENT link (#PCDATA)>
<!ATTLIST link
	type (original | copy | korean) #IMPLIED
	uri (url | hoi | doi | uci | gps | coi |sillok |sjw |akh) #IMPLIED
	value CDATA #IMPLIED
	src CDATA #IMPLIED
	org CDATA #IMPLIED
>
<!--
	2015.11.06
		uri 값에 아예 실록, 승정원일기, 전자사료관 추가. sillok, sjw,akh 

	2015.07
		한국사콘텐츠팀 요청에 따라 uri 속성에 coi 추가.
		참고:	hoi는 한국사데이터베이스 id 체계.
			coi는 우리역사넷 id 체계
-->
<!-- 			
	type : original(원문), copy(영인본/사본), korean(국역본)
	uri : 
	value : uri 타입에 따른 값
			url = url주소
			hoi = 한국사데이터베이스 ID, 단, gskh, gskh, jm은 별도 ID체계. sillok, sjw로 시작하는 ID는 실록, 승정원일기. 별도 처리.
			doi = doi ID
			uci = uci ID
			gps = 위도,경도 
			coi = 우리역사넷 ID
	src : 출처정보
	org : 기관명
-->
<!--	************************************************************	-->
<!--			attach :  첨부 											-->
<!--	************************************************************	-->
<!ELEMENT attach (caption?, file?, explanation?, reference?)>
<!ATTLIST attach
	docNo CDATA #IMPLIED
	begin CDATA #IMPLIED
	end CDATA #IMPLIED
>
<!ELEMENT file EMPTY>
<!ATTLIST file
	src CDATA #REQUIRED
	type CDATA #IMPLIED
>
<!--	************************************************************	-->
<!--			annex :  별지												-->
<!--	************************************************************	-->
<!ELEMENT annex (front?, text?)>
<!ATTLIST annex
	id CDATA #IMPLIED
	type CDATA #IMPLIED
	level NMTOKEN "n"
	name CDATA #IMPLIED
>
<!-- 
	level은  1: 별지, 2: 별지의 부속서
-->
<!-- 	============================================================	-->
<!--			front를 위한 엘리먼트											-->
<!--	============================================================	-->
<!--	biblioData : 서명, 작성자, 날짜, 발행, 소장정보, 출전, 주제명, 물리적기술사항		-->
<!--	************************************************************	-->
<!--			title													-->
<!--	************************************************************	-->
<!ELEMENT title (mainTitle, seriesTitle?, alternative*)>
<!ELEMENT mainTitle (#PCDATA | newChar)*>
<!ATTLIST mainTitle
	type (%title;) #IMPLIED
	volume CDATA #IMPLIED
	lang CDATA #IMPLIED
>
<!ELEMENT seriesTitle (#PCDATA | newChar)*>
<!ATTLIST seriesTitle
	type (총서명 | 자료집명) #IMPLIED
	volume CDATA #IMPLIED
	lang CDATA #IMPLIED
>
<!ELEMENT alternative (#PCDATA | newChar)*>
<!ATTLIST alternative
	type CDATA #IMPLIED
	lang CDATA #IMPLIED
>
<!--
	2015.07
		한국사콘텐츠팀의 요청으로 에서 type 속성 CDATA로 변경
-->
<!--	************************************************************	-->
<!--			creator 												-->
<!--	************************************************************	-->
<!ELEMENT creator (%creator;)*>
<!--	저필자, 편자, 발송자, 수신자, 번역자, 작성자(그림, 사진 등 포함), 편철기관	-->
<!ELEMENT author (name)*>
<!ATTLIST author
	position CDATA #IMPLIED
>
<!ELEMENT editor (name)*>
<!ATTLIST editor
	position CDATA #IMPLIED
>
<!ELEMENT sender (name)*>
<!ATTLIST sender
	position CDATA #IMPLIED
>
<!ELEMENT receiver (name)*>
<!ATTLIST receiver
	position CDATA #IMPLIED
>
<!ELEMENT translator (name)*>
<!ATTLIST translator
	position CDATA #IMPLIED
>
<!ELEMENT reporter (name)*>
<!ATTLIST reporter
	position CDATA #IMPLIED
>
<!ELEMENT binder (name)*>
<!ELEMENT contributor (name)*>
<!ATTLIST contributor
	position CDATA #IMPLIED
	role CDATA #IMPLIED
>
<!--	contributor에는 작성자 중 결재자 | 계약자 | 신문자 | 등본인 | 입회인 | 통역 등을 기술	-->
<!--	contributor의 role 속성 값에 기술		-->
<!ELEMENT name (#PCDATA | %p.zz.ph;)*>
<!ATTLIST name
	lang CDATA #IMPLIED
	align %h.align;
	role (%role;) #IMPLIED 
>
<!--	************************************************************	-->
<!--			date													-->
<!--	************************************************************	-->
<!ELEMENT date (%date;)*>
<!ELEMENT dateCreated (#PCDATA)>
<!ATTLIST dateCreated
	date CDATA #IMPLIED
	type CDATA #IMPLIED
>
<!ELEMENT dateSend (#PCDATA)>
<!ATTLIST dateSend
	date CDATA #IMPLIED
	type CDATA #IMPLIED
>
<!ELEMENT dateReceived (#PCDATA)>
<!ATTLIST dateReceived
	date CDATA #IMPLIED
	type CDATA #IMPLIED
>
<!ELEMENT dateOccured (#PCDATA | annotation)*>
<!ATTLIST dateOccured
	date CDATA #IMPLIED
	type CDATA #IMPLIED
>
<!ELEMENT dateContract (#PCDATA)>
<!ATTLIST dateContract
	date CDATA #IMPLIED
	type CDATA #IMPLIED
>
<!--	************************************************************	-->
<!--			발행, 소장정보, 출전, 주제명, 물리적기술사항							-->
<!--	************************************************************	-->
<!ELEMENT publication (publisher?, place?, dateIssued?)>
<!ELEMENT publisher (#PCDATA | %p.zz.ph;)*>
<!ELEMENT place (#PCDATA | %p.zz.cont;)*>
<!ATTLIST place
	type CDATA #IMPLIED
>
<!--	place의 type에는 신문장소 등	-->
<!ELEMENT dateIssued (#PCDATA)>
<!ATTLIST dateIssued
	date CDATA #IMPLIED
	begin CDATA #IMPLIED
	end CDATA #IMPLIED
	class (조간 | 석간 | 무 | 부록 | 호외) #IMPLIED
>
<!--	잡지 및 신문의 창간일 begin, 폐간일 end	-->
<!--	신문의 발행구분(조간, 석간 등) 은 class로	-->
<!ELEMENT docNo (#PCDATA | newChar)*>
<!ATTLIST docNo
	level NMTOKEN "n"
	name CDATA #IMPLIED
>
<!--	문서번호, 발송번호, 각사등록근대편 문건형태	-->
<!ELEMENT binderPeriod EMPTY>
<!ATTLIST binderPeriod
	begin CDATA #REQUIRED
	end CDATA #REQUIRED
>
<!ELEMENT holdings (originOwner?, owner?, history?, serialNumber?)>
<!--	원소장처, 현소장처, 소장이력, 등록정보	-->
<!ELEMENT originOwner (#PCDATA)>
<!ELEMENT owner (#PCDATA)>
<!ATTLIST owner
	registrationNo CDATA #IMPLIED
	callNo CDATA #IMPLIED
>
<!--	소장처의 도서 등록번호 및 청구번호 예) 규장각청구번호		-->
<!ELEMENT history (#PCDATA)>
<!ELEMENT serialNumber EMPTY>
<!ATTLIST serialNumber
	registrationNo CDATA #IMPLIED
	MFNo CDATA #IMPLIED
	callNo CDATA #IMPLIED
>
<!ELEMENT source (mainTitle?, dateIssued?, page?)>
<!ELEMENT page EMPTY>
<!ATTLIST page
	begin CDATA #IMPLIED
	end CDATA #IMPLIED
>
<!ELEMENT subjectClass (#PCDATA)>
<!ATTLIST subjectClass
	scheme CDATA #IMPLIED
	code CDATA #IMPLIED
	level CDATA #IMPLIED
>
<!--
		level : 주제의 depth.
		예) 중추원조사자료의 주제명과 그룹명, 중국정사조선전의 대분류, 중분류
-->
<!ELEMENT physicalDescription (originSize?, originQantity?, originForm?, originLang?, originType?)>
<!--	원본의 크기, 분량, 형태, 언어, 판본사항		-->
<!ELEMENT originSize (#PCDATA)>
<!ELEMENT originQantity (#PCDATA)>
<!ELEMENT originForm (#PCDATA)>
<!ELEMENT originLang (#PCDATA)>
<!ATTLIST originLang
	lang CDATA #IMPLIED
>
<!ELEMENT originType (#PCDATA)>
<!--	************************************************************	-->
<!--			description : 서문, 범례, 해설, 해제, 대상시기					-->
<!--	************************************************************	-->
<!ELEMENT introduction (content)>
<!ATTLIST introduction
	id CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT remarks (content)>
<!ATTLIST remarks
	id CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT commentary (content)>
<!ATTLIST commentary
	id CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT abstract (content)>
<!ATTLIST abstract
	id CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT biblioExplanation (content)>
<!ATTLIST biblioExplanation
	id CDATA #IMPLIED
	name CDATA #IMPLIED
	groupID CDATA #IMPLIED
	groupName CDATA #IMPLIED
>
<!--	잡지의 해제그룹ID groupID, 해제그룹명 groupName	-->
<!ELEMENT afterNote (content)>
<!ATTLIST afterNote
	id CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT tableOfContent (content)>
<!ATTLIST tableOfContent
	id CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT coveragePeriod (#PCDATA)>
<!ATTLIST coveragePeriod
	begin CDATA #IMPLIED
	end CDATA #IMPLIED
>
<!ELEMENT newsInfo (issueNo*, location?)>
<!--
	2015.08
		요소 추가 : weather (for 승정원 일기)
-->
<!ELEMENT weather (#PCDATA)>
<!ELEMENT issueNo (#PCDATA)>
<!--	호수 : 경남신문 제20호	-->
<!ATTLIST issueNo
	volume CDATA #IMPLIED
	type (조간 | 석간 | 무 | 부록 | 호외) #IMPLIED
	copy CDATA #IMPLIED
	version CDATA #IMPLIED
>
<!-- 
	volume : 호수, 아라비아숫자
	copy : 동부판, 서부판, 남부판, 북부판 등(동서남북 순)
	version : 교정본(a), 검열본(b)
-->
<!ELEMENT location (#PCDATA)>
<!--	면의 이름: 시내판, 어린이경남신문, 其1 1면 등 특이한 면에만 작성	-->
<!ATTLIST location
	page CDATA #REQUIRED
	row CDATA #REQUIRED
>
<!-- 
	page: 면수
	row : 단수
-->
<!--	************************************************************	-->
<!--			illustGroup: 원문이미지										-->
<!--	************************************************************	-->
<!ELEMENT illustration (caption?, image*, explanation?)>
<!--	화보: 제목, 이미지, 설명	-->
<!ATTLIST illustration
	id CDATA #IMPLIED
	begin CDATA #IMPLIED
	end CDATA #IMPLIED
	level CDATA #IMPLIED
>
<!ELEMENT caption (#PCDATA | %p.zz.ph;)*>
<!ATTLIST caption
	align CDATA #IMPLIED
>
<!ELEMENT image EMPTY>
<!--
	2015.07
		속성 추가 : xsize, ysize
 -->
<!ATTLIST image
	src CDATA #REQUIRED
	type CDATA #IMPLIED
	xsize CDATA #IMPLIED
	ysize CDATA #IMPLIED
	pageNo NMTOKENS #IMPLIED
	rowNo CDATA #IMPLIED
	align %h.align; 
>
<!--	신문의 면수(pageNo), 단수(rowNo)	-->
<!ELEMENT explanation (#PCDATA | %p.zz.cont;)*>
<!ATTLIST explanation
	type CDATA #IMPLIED
>
<!--
	2015.07
		%p.zz.pht;를 %p.zz.cont;로 원상복귀

	2015.08
		승정원일기 '부연설명'을  explanation으로 변환하고 type 속성 추가
-->
<!-- 	============================================================	-->
<!--			service: 웹서비스, 메타-메타데이터								-->
<!-- 	============================================================	-->
<!ELEMENT accessCondition EMPTY>
<!ATTLIST accessCondition
	access (Y | N) "Y"
>
<!ELEMENT metaOperator (#PCDATA)>
<!ATTLIST metaOperator
	role CDATA #IMPLIED
	status (insert | modify) "insert"
>
<!ELEMENT dateInsert EMPTY>
<!ATTLIST dateInsert
	date CDATA #IMPLIED
>
<!ELEMENT dateModified EMPTY>
<!ATTLIST dateModified
	date CDATA #IMPLIED
>
<!--	date 입력형식 : yyyymiddhhmmss	-->
<!--	yyyy: 연도4자리	-->
<!--	mi: 월2자리	-->
<!--	dd: 일2자리	-->
<!--	hh: 시2자리	-->
<!--	mm:분2자리		-->
<!--	ss:초2자리		-->
<!-- 	============================================================	-->
<!--			content element											-->
<!-- 	============================================================	-->
<!--
	2015.11.02
		refernce 하위 요소에 caption 추가. pTitle이나 pDate에 들어가는 정보 외에는 paragraph로 처리
-->
<!ELEMENT reference (pTitle?, link?, pDate?, paragraph?)*>
<!--
	2015.07
		승정원일기 remark type="개수전거"는 reference-pTitle로 변환. type="개수전거"
		
-->
<!ELEMENT pTitle (#PCDATA | %p.zz.ph;)*>
<!ATTLIST pTitle
	align %h.align;
	type (%title;) #IMPLIED 
>

<!ELEMENT pDate (#PCDATA | seal)*>
<!ATTLIST pDate
	align	%h.align; 
				type (%pDate;) #IMPLIED 
>
<!--
	2015.07	
		<index />
		sort attribute add | <person type=""> <place type=""> <position type=""/> <term type=""/> 대응.
			<person type=""/>
				A : 중국
				J : 일본
				K : 한국
				M : 몽골여진(청나라 포함)
				W : 서양
				웹 서비스할 때의 글꼴, 색상 등 style과 연관 (이하 type은 동일)
			<place type=""/>
				C : 明 또는 빈칸
				J : 일본관련
				K : 우리나라
				M :몽골,여진
				W : 서양
			<position type=""/>
				P : 관직, 관등
				PP : 지명+관직
		sort2 attribute add | <person a=""> 대응. (원문)
		num attibute add | <person n=""> <book n=""> <era n="">  <place n=""> <term n=""/> 대응.
			일련번호
		name attribute add | <person realname=""> <book realname=""> <era realname="">  <place realname=""> <position ran=""/> <term ran=""/> 대응
			이름
		govertype attribute add
		govername attribute add
		s attribute add | <person s=""> 대응.
		ch attribute add | <person ch=""> 대응.
		id attribute add | <person pid=""> <term(원문) n=""/> 대응.

	2020.07.30
		<index /> 에 namealias 속성 추가 (영문실록에서 영문명)
-->
<!ELEMENT index (#PCDATA | %p.zz.ph;)*>
<!ATTLIST index
	type (%p.index;) #REQUIRED
	ref CDATA #IMPLIED
	sort CDATA #IMPLIED
	sort2 CDATA #IMPLIED
	num CDATA #IMPLIED
	name CDATA #IMPLIED
	namealias CDATA #IMPLIED
	govertype CDATA #IMPLIED
	govername CDATA #IMPLIED
	s CDATA #IMPLIED
	ch CDATA #IMPLIED
	id CDATA #IMPLIED
>
<!ELEMENT number (#PCDATA)>
<!ATTLIST number
	no CDATA #IMPLIED
	type CDATA #IMPLIED
>
<!--
	2015.11
		missing안에 index 와 annotation 추가 , 승정원일기 변환
-->
<!--	number의 type에는 페이지번호, 접수번호  등	-->
<!ELEMENT missing (#PCDATA | index | annotation)*>
<!--	************************************************************	-->
<!--			note :  주석												-->
<!--	************************************************************	-->
<!ELEMENT annotation (noteTitle?, noteContent?, source?)*>
<!ATTLIST annotation
	id CDATA #IMPLIED
	type (%note;) #IMPLIED
	imageId CDATA #IMPLIED
	coordinateX CDATA #IMPLIED
	coordinateY CDATA #IMPLIED
>
<!ELEMENT noteTitle (#PCDATA | %p.zz.ph;)*>
<!ATTLIST noteTitle
	id CDATA #IMPLIED
>
<!ELEMENT noteContent (#PCDATA | %p.zz.cont;)*>
<!ATTLIST noteContent
	idref CDATA #IMPLIED
>
<!ELEMENT qna (#PCDATA | %p.zz.ph;)*>
<!ATTLIST qna
	type (문 | 답) #IMPLIED
>
<!ELEMENT seal (#PCDATA)>
<!ATTLIST seal
	align %h.align;
	href CDATA #IMPLIED 
>
<!ELEMENT point (#PCDATA | newChar | index)*>
<!ATTLIST point
	type CDATA #FIXED "비점"
>
<!ELEMENT quotation (#PCDATA | %p.zz.cont; | paragraph)*>
<!--	************************************************************	-->
<!--			newChar :   신출자											-->
<!--	************************************************************	-->
<!ELEMENT newChar EMPTY>
<!ATTLIST newChar
	href CDATA #REQUIRED
>
<!--	************************************************************	-->
<!--			list : 리스트												-->
<!--	************************************************************	-->
<!ELEMENT ul (#PCDATA | li | dt)*>
<!ATTLIST ul
	type (square | circle | disc) "circle"
>
<!ELEMENT ol (#PCDATA | li)*>
<!ATTLIST ol
	type (A | a | I | 1 | 가) #IMPLIED
	begin NMTOKEN "n"
>
<!ELEMENT li (#PCDATA | %p.zz.cont;)*>
<!ATTLIST li
	type CDATA #IMPLIED
	begin NMTOKEN "n"
>
<!ELEMENT dt (#PCDATA | %p.zz.cont;)*>
<!--	************************************************************	-->
<!--			tableGroup : 표그룹 (제목, 설명, 표내용)						-->
<!--	************************************************************	-->
<!ELEMENT tableGroup (caption?, table+, explanation?)>
<!ATTLIST tableGroup
	id CDATA #IMPLIED
>
<!ELEMENT table (caption?, explanation?, tr+, explanation?)>
<!ATTLIST table
	id CDATA #IMPLIED
	height CDATA #IMPLIED
	width CDATA #IMPLIED
	border CDATA #IMPLIED
	cellspacing CDATA #IMPLIED
	cellpadding CDATA #IMPLIED
	line.type %li.type; #IMPLIED
>
<!--	caption: 표제목	-->
<!ELEMENT tr (td)+>
<!ATTLIST tr
	bgcolor CDATA #IMPLIED
	colspan CDATA #IMPLIED
	rowspan CDATA #IMPLIED
	halign %h.align;
	valign %v.align; 
>
<!ELEMENT td (#PCDATA | %p.zz.cont;)*>
<!ATTLIST td
	height CDATA #IMPLIED
	width CDATA #IMPLIED
	colspan CDATA #IMPLIED
	rowspan CDATA #IMPLIED
	halign %h.align;
	valign %v.align; 
>
<!--	표 설명	-->
<!--	************************************************************	-->
<!--			present element											-->
<!--	************************************************************	-->
<!ELEMENT emph (#PCDATA | %p.zz.cont;)*>
<!ATTLIST emph
	type (bold | color | underline | underline1 | underline2 | line | italic) "bold"
	space (one | two | three | four) "one"
	align %h.align; 
>
<!--
	2015.07
		요소 추가 : proofreading
		<proofreading>은 원문 자체의 오류를 교감을 통해 수정하여 본문에 그대로 드러낼 경우 사용한다. 
		type에는 '광해군일기정초본교감' 등 자유롭게 표시. 
		no는 번호로 필요할 경우 사용. 
		가능한 DB 구축 과정에서 교감이 이루어졌을 때 사용.
		DB의 저본인 책자 자체가 2차 자료집으로 해당 자료집에서 교감주를 사용하였을 경우에는 자료집 책자 그대로 표시하거나 annotation@type="교감주"를 사용.
		광해군일기 정초본과 비교하여 중초본의 오자를 교정한 경우(DB구축 작업 중 교정)에 type은 "광해군일기_정오"를 쓴다. 
		이 작업은 2006년 DB 구축 작업에서 이루어졌고 일반적인 교정 작업이 아니라 중초본과 정초본의 글자가 다른데 주묵 등 달리 표시가 없는 경우에 사용되었다
 
		광해군일기 중초본에 주기로 표시된 사항도 이 요소를 사용한다. type의 종류는 다음과 같다.
		"광해군일기중초본_산삭" : 중초본에 붉게 긋거나 영역을 표시하여 삭제 표시한 것
		"광해군일기중초본_부기" : 중초본의 부기된 글자. 대부분 첨가의 의미.
		"광해군일기중초본_부기2" : 중초본 주묵 표시에 부기된 글자이거나 부기를 다시 수정한 경우
		"광해군일기중초본_산삭내수정" : 중초본 주묵 내에 수정된 글자 
		"광해군일기중정초본_차이 : 중초본과 정초본을 비교하니 주묵이나 부기 표시 없이 차이가 나는 경우.
		※2015년 xml 변환 작업 결과이다. 기존 요소들이 명확하게 표현되어 있지 않아서 약간의 오류가 있다. 특히 부기와 부기2는 임의적인 경우도 많다.
-->
<!ELEMENT proofreading (#PCDATA | %p.zz.ph;)*>
<!ATTLIST proofreading
	no CDATA #IMPLIED
	type CDATA #IMPLIED
>
<!ELEMENT sup (#PCDATA)>
<!ELEMENT sub (#PCDATA)>
<!ELEMENT br EMPTY>
<!--	============ End Element Declaration =======================	-->